<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th1="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <meta charset="UTF-8">
</head>
<body>
<div th:switch="${users}">
    <h2 th:case="null">No users found!!!</h2>>
    <div th:case="*">
        <h2>Users</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Last Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.getName()}"></td>
                <td th:text="${user.getLastName()}"></td>
                <td><a th:href="@{updateUser/{id}(id=${user.getId()})}">Edit</a></td>
                <td><a th:href="@{deleteUser/{id}(id=${user.getId()})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/addUser">Add user</a></p>
</div>
</body>
</html>